#windowTitle {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.726), 40, 0, 0, 0);
}

.label {
    -fx-text-fill: white;
}

.title {
    -fx-text-fill: #00c3ff;
}

.pane {
    -fx-background-color: #1b1b1b;
}

.region {
    /* -fx-background-color: #00c3ff; */
    -fx-background-color: linear-gradient(to bottom, #00c3ff00, #00c3ff), linear-gradient(to top, #00c3ff00, #00c3ff);
}

.button, .combobox {
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: #303030;
}

.button:focused {
    /* -fx-background-color: #303030; */
    -fx-effect: dropshadow(gaussian, white, 5, 0, 0, 0);
}

.combobox {
    -fx-border-radius: 5;
    -fx-background-color: white;
}

.table-view {
    -fx-background-color: #303030;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #00c3ff, 1, 1, 0, 0);
    -fx-selection-bar: #707070;
}

.column-header-background {
    -fx-background-color: transparent;
}

.tablecolumn {
    -fx-text-fill: white;
    -fx-background-color: #303030;
    -fx-border-width: 1;
    -fx-border-color: #1b1b1b;
}

.tablecolumn:hover {
    -fx-background-color: #7c7c7c;
}

.viewbutton {
    -fx-border-color: transparent;
    -fx-background-color: #1b1b1bb7;
    -fx-background-color: linear-gradient(to right, #1b1b1bb7, transparent), linear-gradient(to left, #1b1b1bb7, transparent);
}

/*
.table-row-cell:filled:selected {
    -fx-selection-bar: #707070;
} 
*/