#windowTitle {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.726), 50, 0, 0, 0);
}

.label {
  -fx-text-fill: white;
}

.title {
  -fx-text-fill: #00c3ff;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.233), 20, 0, 0, 0);
}

.pane {
  -fx-background-color: #1b1b1b;
}

.region {
  -fx-background-color: linear-gradient(to bottom, transparent, #00c3ff), linear-gradient(to top, transparent, #00c3ff);
}

.button,
.combobox {
  -fx-border-color: white;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
  -fx-text-fill: white;
  -fx-background-color: transparent;
}

.button:hover {
  -fx-background-color: #303030;
}

.button:focused {
  -fx-effect: dropshadow(gaussian, white, 5, 0, 0, 0);
}

.combobox {
  -fx-border-radius: 5;
  -fx-background-color: white;
}

.table-view {
  -fx-background-color: transparent;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-effect: dropshadow(gaussian, #00c3ff, 1, 1, 0, 0);
  -fx-selection-bar: #707070;
}

.table-view .column-header {
  -fx-background-color: transparent;
  -fx-border-color: radial-gradient(radius 360%, transparent, #00c3ff81, #00c3ff);
}

.table-view .column-header-background {
  -fx-background-color: #303030;
  -fx-background-color: linear-gradient(#1b1b1b 0%, #303030 100%);
}

.table-cell {
  -fx-text-fill: white;
  -fx-border-width: 1;
  -fx-border-color: radial-gradient(radius 360%, transparent, #00c3ff81, #00c3ff);
}

.table-row-cell {
  -fx-text-fill: white;
  -fx-background-color: #303030;
}

.table-row-cell:hover {
  -fx-background-color: #727272;
}

.table-row-cell:selected {
  -fx-background-color: #555555;
}

.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:horizontal > .track,
.table-view .scroll-bar:horizontal > .track-background,
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button,
.table-view .filler {
  -fx-background-color: transparent;
  -fx-opacity: 0;
}

.viewbutton {
  -fx-border-color: transparent;
  -fx-background-color: linear-gradient(to right, #1b1b1bb7, transparent), linear-gradient(to left, #1b1b1bb7, transparent);
}

#activeSceneBtn {
  -fx-text-fill: black;
  -fx-border-color: transparent;
  -fx-background-color: linear-gradient(to right, #ffffff, transparent), linear-gradient(to left, #ffffff, transparent);
}
